body {
    margin: 0;
    background-color: #e8ffff;
    text-align: center;
    font-family: 
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
}
h2{
    font-family: 'Montserrat' , sans-serif ;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}
h3 {
    font-family: 'Montserrat' , sans-serif;
    color:  #52d7db;
}
hr {
    border: dotted;
    color: #85e7e7;
    width: 50px;
    border-bottom: none;
}
p {font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: rgb(35, 29, 41);
    line-height: 2;
}
.intro {
    margin: 50px 0;
}
.top-container {
  
}
.middle-container {
    background-color: #fff;
  
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
}
.btn{
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #82B2FF);
    background-image: -moz-linear-gradient(top, #66BFBF, #82B2FF);
    background-image: -ms-linear-gradient(top, #66BFBF, #82B2FF);
    background-image: -o-linear-gradient(top,#66BFBF, #82B2FF);
    background-image: -webkit-gradient(to bottom,#66BFBF, #82B2FF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 2px;
    line-height: 2px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 150px;
    font-size: 23px;
    font-weight: 100;
    padding: 17px;
    border-style: solid;
    border-color: ;
    border-width: 0;
    text-shadow: 0 0 17px #FFFFFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
 }
 
 .btn:hover {
    background: #1E62D0;
    border: solid #6AFFCE 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .get-in-touch {
     width: 35%;
     margin: 50px auto;
 }
.top-cloud {
    position: relative;
    top: 50px;
    left: 400px;
}
.bottom-cloud {
    position: absolute;
    left: 170px;
}
.a {
    color: #11999E;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left;
    line-height: 2;
}
.code-img, .vectorart-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.vectorart-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile-img {
    margin-top: 50px;
}
.footer-link {
    margin: 0 25px;
    text-decoration: none;
}
.footer-link:hover {
    color: white;
}
.copyright {
    color: white;
    font-size: 15px;
}